<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yinxiao.nothing.mapper.CigaretteRetailerMapper">

    <insert id="addRetailer" parameterType="org.yinxiao.nothing.entity.CigaretteRetailer">
        INSERT INTO cigarette_retailer_info (
            uuid,
            resident_population,
            student_count_this_semester,
            staying_rate_during_holidays,
            smoking_rate,
            student_regulation_ratio,
            geographical_weight,
            sales_intensity_coefficient,
            weekly_sales,
            gear_coefficient,
            service_request_count,
            abnormal_sales_count,
            inventory_sales_ratio,
            full_order_rate_fluctuation,
            retailer_license_number,
            retailer_name
        ) VALUES (
                     #{uuid},
                     #{residentPopulation},
                     #{studentCountThisSemester},
                     #{stayingRateDuringHolidays},
                     #{smokingRate},
                     #{studentRegulationRatio},
                     #{geographicalWeight},
                     #{salesIntensityCoefficient},
                     #{weeklySales},
                     #{gearCoefficient},
                     #{serviceRequestCount},
                     #{abnormalSalesCount},
                     #{inventorySalesRatio},
                     #{fullOrderRateFluctuation},
                     #{retailerLicenseNumber},
                     #{retailerName}
                 )
    </insert>

    <delete id="deleteRetailer" parameterType="string">
        DELETE FROM cigarette_retailer_info WHERE uuid = #{uuid}
    </delete>

    <update id="updateRetailer" parameterType="org.yinxiao.nothing.entity.CigaretteRetailer">
        UPDATE cigarette_retailer_info
        SET
            resident_population = #{residentPopulation},
            student_count_this_semester = #{studentCountThisSemester},
            staying_rate_during_holidays = #{stayingRateDuringHolidays},
            smoking_rate = #{smokingRate},
            student_regulation_ratio = #{studentRegulationRatio},
            geographical_weight = #{geographicalWeight},
            sales_intensity_coefficient = #{salesIntensityCoefficient},
            weekly_sales = #{weeklySales},
            gear_coefficient = #{gearCoefficient},
            service_request_count = #{serviceRequestCount},
            abnormal_sales_count = #{abnormalSalesCount},
            inventory_sales_ratio = #{inventorySalesRatio},
            full_order_rate_fluctuation = #{fullOrderRateFluctuation},
            retailer_license_number = #{retailerLicenseNumber},
            retailer_name = #{retailerName}
        WHERE uuid = #{uuid}
    </update>

    <select id="getRetailerByUuid" resultType="org.yinxiao.nothing.entity.CigaretteRetailer">
        SELECT
            uuid,
            resident_population,
            student_count_this_semester,
            staying_rate_during_holidays,
            smoking_rate,
            student_regulation_ratio,
            geographical_weight,
            sales_intensity_coefficient,
            weekly_sales,
            gear_coefficient,
            service_request_count,
            abnormal_sales_count,
            inventory_sales_ratio,
            full_order_rate_fluctuation,
            retailer_license_number,
            retailer_name
        FROM cigarette_retailer_info
        WHERE uuid = #{uuid}
    </select>

    <select id="getAllRetailers" resultType="org.yinxiao.nothing.entity.CigaretteRetailer">
        SELECT
            uuid,
            resident_population,
            student_count_this_semester,
            staying_rate_during_holidays,
            smoking_rate,
            student_regulation_ratio,
            geographical_weight,
            sales_intensity_coefficient,
            weekly_sales,
            gear_coefficient,
            service_request_count,
            abnormal_sales_count,
            inventory_sales_ratio,
            full_order_rate_fluctuation,
            retailer_license_number,
            retailer_name
        FROM cigarette_retailer_info
    </select>
</mapper>