<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yinxiao.nothing.mapper.CigaretteRetailerMapper">

    <!-- 批量插入卷烟零售商信息 -->
    <insert id="batchAddRetailers" parameterType="java.util.List">
        INSERT INTO cigarette_retailer_info (certificate_number, shop_name, shop_owner)
        VALUES
        <!-- 遍历零售商列表，生成插入语句 -->
        <foreach collection="list" item="item" separator=",">
            (#{item.certificateNumber}, #{item.shopName}, #{item.shopOwner})
        </foreach>
        <!-- 若证件号已存在，则跳过当前数据 -->
        ON DUPLICATE KEY UPDATE id = id
    </insert>

    <!-- 根据证件号删除卷烟零售商信息 -->
    <delete id="deleteRetailerByCertificateNumber" parameterType="string">
        DELETE FROM cigarette_retailer_info WHERE certificate_number = #{certificateNumber}
    </delete>

    <!-- 根据证件号修改卷烟零售商信息 -->
    <update id="updateRetailerByCertificateNumber" parameterType="org.yinxiao.nothing.entity.CigaretteRetailer">
        UPDATE cigarette_retailer_info
        SET
            shop_name = #{shopName},
            shop_owner = #{shopOwner}
        WHERE certificate_number = #{certificateNumber}
    </update>

    <!-- 根据证件号查询卷烟零售商信息 -->
    <select id="getRetailerByCertificateNumber" resultType="org.yinxiao.nothing.entity.CigaretteRetailer">
        SELECT * FROM cigarette_retailer_info WHERE certificate_number = #{certificateNumber}
    </select>

    <!-- 分页查询所有卷烟零售商信息，每页 15 条数据 -->
    <select id="getAllRetailers" resultType="org.yinxiao.nothing.entity.CigaretteRetailer">
        SELECT * FROM cigarette_retailer_info LIMIT #{offset}, #{limit}
    </select>
</mapper>