<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yinxiao.nothing.mapper.PublicIndicatorInfoMapper">

    <insert id="addPublicIndicatorInfos" parameterType="java.util.List">
        INSERT INTO public_indicator_info (certificate_number, student_spec_ratio, geographical_weight,
        sales_intensity_coefficient, weekly_sales, gear_coefficient,
        service_request_count, abnormal_sales_count, inventory_sales_ratio,
        full_order_rate_fluctuation, data_date)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.certificateNumber}, #{item.studentSpecRatio}, #{item.geographicalWeight},
            #{item.salesIntensityCoefficient}, #{item.weeklySales}, #{item.gearCoefficient},
            #{item.serviceRequestCount}, #{item.abnormalSalesCount}, #{item.inventorySalesRatio},
            #{item.fullOrderRateFluctuation}, CURDATE())
        </foreach>
    </insert>

    <delete id="deletePublicIndicatorInfo" parameterType="string">
        DELETE FROM public_indicator_info WHERE certificate_number = #{certificateNumber}
    </delete>

    <update id="updatePublicIndicatorInfo" parameterType="org.yinxiao.nothing.entity.PublicIndicatorInfo">
        UPDATE public_indicator_info
        SET student_spec_ratio = #{studentSpecRatio},
            geographical_weight = #{geographicalWeight},
            sales_intensity_coefficient = #{salesIntensityCoefficient},
            weekly_sales = #{weeklySales},
            gear_coefficient = #{gearCoefficient},
            service_request_count = #{serviceRequestCount},
            abnormal_sales_count = #{abnormalSalesCount},
            inventory_sales_ratio = #{inventorySalesRatio},
            full_order_rate_fluctuation = #{fullOrderRateFluctuation},
            data_date = CURDATE()
        WHERE certificate_number = #{certificateNumber}
    </update>

    <select id="getPublicIndicatorInfoByCertificateNumber" resultType="org.yinxiao.nothing.entity.PublicIndicatorInfo">
        SELECT * FROM public_indicator_info WHERE certificate_number = #{certificateNumber}
        ORDER BY data_date DESC
    </select>

    <select id="getAllPublicIndicatorInfos" resultType="org.yinxiao.nothing.entity.PublicIndicatorInfo">
        SELECT * FROM public_indicator_info
        ORDER BY data_date DESC
            LIMIT #{offset}, #{limit}
    </select>
</mapper>